
<div class="container">
    <div class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="navbar-nav">
          <div class="nav-item active" >
                    <h3>Category List </h3>
          </div>
        </div>

     </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let category of categories">

    <td>{{category.name}}</td>
    <td>{{category.description}}</td>
    <button (click)="deleteCategory(category)" class="btn btn-danger ">delete</button>
    <button (click)="onSelect(category)" class="btn btn-info">Edit</button>
 
    </tr>
  </tbody>
</table>
</div>
<app-category-edit [category]="selectedCategory"></app-category-edit>


  